body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  background-color: green;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

#drum-machine {
  width: 100vw;
  height: 100vh;
  background: transparent;
  margin: auto;
  display: flex;
}
#pad-bank {
  width: 50vw;
  height: 50vh;
  background-color: yellow;
  margin: auto;
  display: flex;
  align-items: center;
}
.drum-pad {
  width: 5vw;
  height: 5vh;
  background: blue;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  
}

